<meta charset="UTF-8">
<style>
    #result{
        width:  300px;
        border: 2px solid red;

    }
</style>
<script>
function display(data) {
    alert('display');
        var str = '';

        $(data).each(function(item, item){

        });


        $('#result').html(str); 
}
function getdata() {
    alert('getdata');
    $.ajax({
        url : 'getdata',
        success:function(data){
            display(data);
        }
    });
    alert('getdatagetdata');
    
};

    $(document).ready(function(){
        getdata();
    });
</script>

<h1>Aj05 Main</h1>

<button>Get Data</button>
<div id="result"></div>