<meta charset="UTF-8">
<script>
    window.onload = function(){
        var h2 = document.querySelector('#hh2');
        var num = 103;
        var b = true;
        
        var str = '100';
        var v;

        //array
        var a = [1, 2, 3, 4, 5];

        // object(JSON, JavaScript Object Notation)
        var obj = {id : 'id1', name : 'lee', age : 10};

        // function
        var f = function(){
            return 333;
        };
        var type = typeof(f);
        h2.innerHTML= type + ' ' + (str + num);
        h2.append;
    };
</script>
<h1>Js02 Main</h1>
<h2 id="hh2"></h2>